@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/roboto/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../src/fonts/roboto/Roboto-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../src/fonts/roboto/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../src/fonts/roboto/Roboto-BlackItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Raleway';
  src: url('../src/fonts/raleway/Raleway-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../src/fonts/raleway/Raleway-Medium.ttf') format('opentype');
}

body {
  background-color: #eceff1;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(38, 50, 56, 0.5);
}

a:visited {
  text-decoration: none;
  color: rgba(38, 50, 56, 0.5);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

.corner-menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(236, 239, 241, 0.9);
  margin: 0;
}

.corner-menu-close-button {
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  margin: 16px 0 32px calc(100vw - 16px - 54px);
  border-radius: 17px;
  box-shadow: inset 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.corner-menu-close-button-img {
  margin: 22px;
  transform: rotate(-135deg);
}

.page-name-img {
  position: absolute;
  margin: 24px 0 0 calc(50% - 66px);
}

.corner-menu-button {
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  margin: 16px 16px 16px calc(100% - 54px - 16px);
  border-radius: 17px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.corner-menu-button-img {
  margin: 22px 22px 22px 22px;
}

.corner-menu-action {
  display: flex;
  width: 156px;
  height: 54px;
  margin: 0 0 16px calc(100vw - 16px - 156px);
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.corner-menu-action-name {
  font-family: Roboto-Bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #263238;
  margin: auto 0 auto 22px;
}

.forward-button-image {
  position: absolute;
  right: 0;
  margin: 22px 37px 22px 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 16px;
  background-color: #ffffff;
  border-radius: 0px 17px 17px 17px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.message-img {
  width: 54px;
  margin: 16px 16px 10px 16px;
}

.message-text {
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  color: #263238;
  margin: 0 16px 12px 16px;
}

.message-text-bold {
  font-family: Raleway-Medium;
  font-weight: 500;
}

.message-text-grey {
  font-family: Raleway-Medium;
  font-weight: 500;
  color: rgba(38, 50, 56, 0.5);
}

.main-item-header {
  display: flex;
  justify-content: space-between;
  height: 86px;
  margin: 16px 0 16px 0;
  background: #ffffff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.main-item-text-wrapper {
  display: flex;
  color: #263238;
}

.main-item-name-wrapper {
  display: flex;
  flex-direction: column;
  margin: 22px 0 0 16px;
}

.main-item-description {
  font-family: Roboto;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin: 0 2px 0 2px;
}

.main-item-logo {
  margin: 0 4px 0 22px;
}

.main-item-name {
  font-family: Roboto-Medium;
  font-size: 24px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc((100vw - 48px) / 2);
  max-width: 200px;
  height: calc((100vw - 48px) / 2);
  max-height: 200px;
  margin: 16px 0 0 16px;
  background-color: #ffffff;
  border-radius: 17px;
}

.work-img {
  width: calc((100vw - 48px) / 2);
  position: absolute;
  z-index: -1;
  border-radius: 17px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.work-name {
  font-family: Roboto-Medium;
  font-size: 22px;
  color: #263238;
  text-transform: uppercase;
  line-height: 28px;
}

.work-button {
  height: 27px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-family: Roboto-Bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: #263238;
  padding: 0 20px 0 20px;
  margin-top: 6px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 16px 0 16px;
}

.skill-wrapper {
  height: 54px;
  border-radius: 17px;
  margin: 8px 8px 0 0;
  background-color: #263238;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.skill-name {
  font-family: Roboto-Medium;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 23px;
  color: #ffffff;
  margin: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  height: 54px;
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 16px 0 0 16px;
}

.contacts:nth-child(n + 1) {
  margin-right: 16px;
}

.contacts-row {
  display: flex;
}

.contacts-column {
  flex: 50%;
}

.contact-name {
  font-family: Roboto-Bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #263238;
  margin: auto;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0 8px 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 16px 0 0 0;
  border-radius: 17px 17px 0px 0px;
}

.footer-text {
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.25em;
  color: rgba(38, 50, 56, 0.5);
  margin: 16px 0 16px 0;
}

.hidden {
  visibility: hidden;
  display: none;
}